/* styles.css */

.bg-custom-dark {
    background-color: #030a15; 
}
.imagen-grande {
    background-image: url('GRANDE.png'); 
    background-size: cover; 
    background-position: center; 
    height: 400px; 
    width: 100%; 
}
.info-column {
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    min-height: 300px; 
    padding: 20px;
}